html,
body {
  max-width: 560px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--bg-lightgray);
}

.bg-white {
  background-color: var(--main-theme-white);
}
.bg-blue {
  background-color: var(--main-theme-blue);
}
.bg-red {
  background-color: var(--main-theme-red);
}
.bg-orange {
  background-color: var(--main-theme-orange);
}
.bg-skyblue {
  background-color: var(--main-theme-skyblue);
}
.bg-black {
  background-color: var(--main-theme-black);
}
